
.addcatform
{
    margin-left: 16rem;
    margin-top: -110px;
}

td {
    text-align: center;
    }

.space {
    height: 44px;
}


.errors {
    position:sticky;
    width: 100%;
    position: fixed;
    top: 167px;
    background-color: red;
    color: white;
    text-align: center;
    font-size: x-large;
  }


.success {
    position:sticky;
    width: 100%;
    position: fixed;
    top: 167px;
    background-color: limegreen;
    color: white;
    text-align: center;
    font-size: x-large;

}

.reussi {
    position:sticky;
    width: 100%;
    position: fixed;
    top: 167px;
    background-color: limegreen;
    color: white;
    text-align: center;
    font-size: x-large;

}


.error {
    position:sticky;
    width: 100%;
    position: fixed;
    top: 167px;
    background-color: red;
    color: white;
    text-align: center;
    font-size: x-large;
}
