

.productscontainer {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.boxeachproduct img {
    width: 57%;
    height: auto;
  }

.boxlisteproduit{
  margin-left: 3.3%;
  margin-right: 4%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 92%;

}

.boxeachproduct {
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin:0;
padding: 0;
text-align: center;
width: 33%;
min-width: 280px;
margin-top: 61px;


}

.boxeachproduct a {
color: rgb(70, 66, 66);

  }

form input[type=submit] {
  
  font-size: 18px;
  padding:5px 15px; 
  background:#ccc; 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}

form input[type=submit]:hover {
background-color: red;
color: white;
}

.filters {
display: flex;
flex-direction: row;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
flex-wrap: wrap;
gap: 6px;
justify-content: center;
align-items: center;
}

a {
  text-decoration: none;
}

h1{
font-size: 22px;
font-weight: 400;
margin-right: 10px;

}
h2{
font-size: 20px;
}

.selectsfilter{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#filterbutton {
margin-left: 20px;
}


@-webkit-keyframes slideImage{
  0%:{left:-700px;}
  100%{left:0px;}
 }
 
  @-moz-keyframes slideImage{
  0%{left:-700px;}
  100%{left:0px;}     
 }
 
 
 
 @-moz-keyframes slidein {
             from {
                margin-left:700px;
                
             }
             100% {
                
                margin-left:25%;
                
             }
             to {
                margin-left:0px;
                
             }
          }
          @-webkit-keyframes slidein {
             from {
                margin-left:700px;
                
             }
             100% {
                
                margin-left:25%;
                
             }
             to {
                margin-left:0px;
                
             }
          }
 
 
 #title {
   font-family: Agency FB;
   text-align: center;
   margin-left: 0px;
   margin-left: 0px;
   font-size: 28.5px;
   font-weight: 500;
 }
 
 #mygallery {
   width: 1000px; 
   padding: 0px; 
   background-color: rgb(255, 255, 255);
   margin: 0 auto;  
   
 }
 
 
 #fullimage {
   list-style: none; 
   width: 1066px; 
   height: 400px; 
   margin: 0px; 
   padding: 0px;
   overflow: hidden; /* This line is required to make sure that we hide the images below it. Many of you have defined it as auto, which is wrong in this case.*/
   -moz-animation-duration: 1s;
             -webkit-animation-duration: 1s;
             -moz-animation-name: slidein;
             -webkit-animation-name: slidein;
   
   
 }
 
 
 #fullimage li img {
   margin-left: 233px;
   width: 400px;
   height: 400px; 
   
 }
 
 /* Thumb image styles */
 
 #thumbimage {
   margin-right: 490px;
   list-style: none;
   overflow: hidden;
   float: right;
   
 }
 
 #mygallery {
   display: flex;
   flex-wrap: wrap;
   width: 40%;
  padding-left: 500px;
  border-style: solid;
 }

 
 #thumbimage li {
   float: left;    
 }
 
 #thumbimage li img {
   /* 
       Many of you had give the value as Absolute.
       It should be relative for this as we need to postion the element relative to its normal position and not its ancestor element (absolute) 
   */
   position:relative; 
   width: 70px;
   float: right;
   margin-left: 7px;
   border: 1px solid white;
   opacity: 0.5;
   width: 70px; 
   height: 70px;
   
 }
 
 #thumbimage li img:hover {
   opacity: 1; /* This is the property required for transparency. It takes values between 0 and 1. */
 
 
 }
 
 /* 
     I have defined a class tooltip in the html. This is used to style the text that overlays on the image 
 */
 
 .tooltip {
   background: rgba(0,0,0,0.7);
   width: 300px;
   height: -250px;
   position: relative;
   bottom: 90px; /* This property pushes the text from the bottom of the container to on top of the image.*/
   left: 0px;
 }
 
 /* 
     This styles the text within the tooltip class.
 */
 .tooltip span {
   color: #fff;
   font-size: 24px;
   font-weight: 300;
   line-height: 60px;
   padding: 0 0 0 10px;
 }
 

 #koala:target {
   
   -moz-animation-duration: 1s;
             -webkit-animation-duration: 1s;
             -moz-animation-name: slidein;
             -webkit-animation-name: slidein;
 }
 #penguins:target {
   
   -moz-animation-duration: 1s;
             -webkit-animation-duration: 1s;
             -moz-animation-name: slidein;
             -webkit-animation-name: slidein;
 }
 #desert:target {
   
   -moz-animation-duration: 1s;
             -webkit-animation-duration: 1s;
             -moz-animation-name: slidein;
             -webkit-animation-name: slidein;
 }
 #lighthouse:target {
   
   -moz-animation-duration: 1.5s;
             -webkit-animation-duration: 1.5s;
             -moz-animation-name: slidein;
             -webkit-animation-name: slidein;
 }
 