.box{
    display: flex;
    justify-content: space-evenly;
}
form{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 25px;
}
form input{
    border-radius: 5px;
}
form a{
    color: #79347a;
}

.formconnect{
    margin-top: 55px;
}
