body {
overflow-x: hidden;
margin: 0;
padding: 0;
}

li{
  list-style: none;
}

header {

background-color: #444;
align-items: center!important;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0.5vh;
}

.cart a {
font-family: monospace;
text-decoration: none;
color: white;
font-size: 16px;
padding-top: 10px;
padding-left: 6px;
}
.searchbar input {
  align-items: center!important;
  display: block;
  border: 1px solid #aaa;
  font-size: 0.8em!important;
  padding: 10px 10px;
  width: 25%;
  background: #fff;
  padding-left: 1.5%;
  border-radius: 20px;
  outline: none !important;
  line-height: 10px;
  height : 3px;

}

nav .auth {
width: 1000px;
}
nav .auth a:hover  {
  width: 1000px !important;
  }



.logo {
display: flex;
justify-content: center;
}

.banner {
padding-top: 50px;
display: flex;
justify-content: center;
max-width: 100%;
object-fit: contain;
}

.nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: -8px;
  }
.nav li {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16.5px!important;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
    margin-left: 0px;
    gap: 5px;
}
   
  .nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
    width: 110%;
    border-radius: .5em;
  }
   
  .nav a:hover {
    background-color: rgb(255, 0, 0);
    width: 110%;
  }
   
  .nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
  }

.admin a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
  width: 110%;
  border-radius: .5em;
}

.admin li:hover {
background-color: black;
}

.admin {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

   
  @media screen and (min-width: 600px) {

    .nav li {
      width: 120px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
    }
   
    .nav li {
      display: inline-block;
      margin-right: 8.5px; }

    .searchbar {
      display: flex;
      justify-content: center;
      align-content: center;
      padding: 1vh;
      padding-top: 20px;
      }

      .searchbar input {
        align-items: center!important;
        display: block;
        border: 1px solid #aaa;
        font-size: 0.8em!important;
        padding: 10px 10px;
        width: 25%;
        background: #fff;
        padding-left: 2%;
        border-radius: 20px;
        outline: none !important;
        line-height: 10px;
        height : 30px;
      
      }


}