

/* CSS de la page authentification */
form {
    display: flex;
    flex-direction: column;
    margin-right: 33px;
    gap: 7px;
    margin-top: 6px;
    margin-bottom: 10px;
}

.container {
display: flex;
flex-direction: row;
justify-content: center;
}
form input {
    border-radius: 1px;
}

form a {
    color: #0c88b4;
}

.formconnect {
    margin-top: 15px;
}

#connect {
    background: black;
    color: white;
    font-size: 14px;
}

#connect:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Messages d'erreur et de succès de connexion */
.errors {
    background-color: red;
    color: white;
    text-align: center;
    font-size: x-large;
}

.error {
    background-color: red;
    color: white;
    text-align: center;
    font-size: x-large;
}

.success {
    background-color: limegreen;
    color: white;
    text-align: center;
    font-size: x-large;

}

.reussi {
    background-color: limegreen;
    color: white;
    text-align: center;
    font-size: x-large;

}


