/* Messages d'erreur et de succès du panier */

.errors {
    background-color: red;
    color: white;
    text-align: center;
    font-size: x-large;
}

.error {
    background-color: red;
    color: white;
    text-align: center;
    font-size: x-large;
}

.success {
    background-color: limegreen;
    color: white;
    text-align: center;
    font-size: x-large;

}

.reussi {
    background-color: limegreen;
    color: white;
    text-align: center;
    font-size: x-large;

}

table {
min-height: 250px;
width: 15%;
min-width: 100px;
}

.cartresume{
display: flex;
flex-wrap: wrap;
}

td {
display: flex;
text-align: center;
}

form input[type=text] {
display: none !important;
  }

  form input[type=submit] {
      font-family: monospace;
      font-size: 14px;
      border-radius: 6px;
color: white;
    background-color: rgb(204, 0, 0);
      }


#paiementbutton form input[type=submit] {
height: 50px;
width: 200px;
font-weight: 600;
font-size: 24px;
}

#pricetotal {
display: flex;
justify-content: center;
}

#quantitydisplay{
font-family: monospace;
font-weight: 600;
font-size: 24px;
display: flex;
justify-content: center;
}

#pricedisplay {
display: flex;
justify-content: center;  
}

    


