/* Messages d'erreur et de succès du panier */

.errors {
    background-color: red;
    color: white;
    text-align: center;
    font-size: x-large;
}

.error {
    background-color: red;
    color: white;
    text-align: center;
    font-size: x-large;
}

.success {
    background-color: limegreen;
    color: white;
    text-align: center;
    font-size: x-large;

}

.reussi {
    background-color: limegreen;
    color: white;
    text-align: center;
    font-size: x-large;

}

table {
    border-style: solid;
}

.cartresume{
display: flex;
}

td {
display: flex;
}

form input[type=text] {
display: block;
  }


