/* Messages d'erreur et de succès du panier */

.errors {
    background-color: red;
    color: white;
    text-align: center;
    font-size: x-large;
}

.error {
    background-color: red;
    color: white;
    text-align: center;
    font-size: x-large;
}

.success {
    background-color: limegreen;
    color: white;
    text-align: center;
    font-size: x-large;

}

.reussi {
    background-color: limegreen;
    color: white;
    text-align: center;
    font-size: x-large;

}

table {

}

.cartresume{
display: flex;
}

td {
display: flex;
text-align: center;
}

form input[type=text] {
display: none !important;
  }

  form input[type=submit] {
      font-family: monospace;
      font-size: 14px;
      border-radius: 6px;
color: white;
    background-color: rgb(204, 0, 0);
      }
    


